*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.test::after {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 10px;
    right: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    content: '\2665';
}

.test:hover::after {
    color: red;    
}

.row {
    text-align: center;    
}

.card {
    width: 310px;
    height: 490px;
    display: inline-block;
    margin: 4px;
    text-align: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.heart-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 10px;
    right: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.heart-icon:after {
    content: '\2665';
}

.heart-icon:hover {
    color: red;
}

.tags, .card-info {
    font-family: Arial, Helvetica, sans-serif;
}

.tags {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 57px;
    color: white;
    font-size: 9px;
    font-weight: bold;
    line-height: 16px;
}

.tag-discount, .tag-green {
    float: left;
    height: 100%;
    padding: 1px 4px 0px 4px;
}

.tag-discount {
    background-color: #CF393E;
    margin-right: 2px;
}

.tag-discount::after {
    content: '\0025';
}

.tag-green {
    background-color: #45835D;
}

.tag-green::after {
    content: "Sostenibilit\00E0";
}




